In [30]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options)

url = "https://results.chicagomarathon.com/2024/?page=1&event=MAR&event_main_group=runner&num_results=1000&pid=search&search%5Bsex%5D=%25&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=place_nosex"
driver.get(url)
time.sleep(4)

resultados = []

# Procesar solo los primeros 10 atletas
atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")[:10]

for atleta in atletas:
    try:
        place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
    except:
        place_overall = "Sin posici√≥n general"

    try:
        place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
    except:
        place_gender = "Sin posici√≥n g√©nero"

    try:
        nombre_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
        nombre = re.sub(r"\s*\([A-Z]{3}\)", "", nombre_pais).strip()
        pais_match = re.search(r"\(([A-Z]{3})\)", nombre_pais)
        pais = pais_match.group(1) if pais_match else "Sin pa√≠s"
    except:
        nombre = "Sin nombre"
        pais = "Sin pa√≠s"

    try:
        division_block = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text
        division = division_block.replace("Division", "").strip()
    except:
        division = "Sin divisi√≥n"

    # ‚úÖ Nuevo m√©todo para capturar el tiempo Finish
    try:
        finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
        html = finish_block.get_attribute("innerHTML")
        match = re.search(r'</div>\s*([0-9:]+)', html)
        finish = match.group(1).strip() if match else "Sin tiempo"
    except:
        finish = "Sin tiempo"

    resultados.append({
        "place_overall": place_overall,
        "place_gender": place_gender,
        "nombre": nombre,
        "pais": pais,
        "division": division,
        "finish": finish
    })

driver.quit()

df = pd.DataFrame(resultados)

In [36]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 57.7/57.7 kB 3.7 MB/s eta 0:00:00
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 78.5/78.5 kB 5.5 MB/s eta 0:00:00
Installing collected packages: tqdm
Successfully installed tqdm-4.67.1

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [32]:
df.to_csv("../data/ejemplo_10_resultados_chicago_marathon_2024.csv", index=False)

In [33]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re

def scrape_chicago_test(genero, url):
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(options=options)

    print(f"\nüîç Scrapeando 10 atletas ‚Äì G√©nero: {genero}")
    driver.get(url)
    time.sleep(4)

    resultados = []
    atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")[:10]

    for atleta in atletas:
        try:
            place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
        except:
            place_overall = "Sin posici√≥n general"

        try:
            place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
        except:
            place_gender = "Sin posici√≥n g√©nero"

        try:
            nombre_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
            nombre = re.sub(r"\s*\([A-Z]{3}\)", "", nombre_pais).strip()
            pais_match = re.search(r"\(([A-Z]{3})\)", nombre_pais)
            pais = pais_match.group(1) if pais_match else "Sin pa√≠s"
        except:
            nombre = "Sin nombre"
            pais = "Sin pa√≠s"

        try:
            division_block = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text
            division = division_block.replace("Division", "").strip()
        except:
            division = "Sin divisi√≥n"

        try:
            finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
            html = finish_block.get_attribute("innerHTML")
            match = re.search(r'</div>\s*([0-9:]+)', html)
            finish = match.group(1).strip() if match else "Sin tiempo"
        except:
            finish = "Sin tiempo"

        resultados.append({
            "place_overall": place_overall,
            "place_gender": place_gender,
            "nombre": nombre,
            "pais": pais,
            "division": division,
            "finish": finish,
            "gender": genero
        })

    driver.quit()
    return pd.DataFrame(resultados)

# URLs
url_hombres = "https://results.chicagomarathon.com/2024/?page=1&event=MAR&event_main_group=runner&num_results=1000&pid=list&search%5Bsex%5D=M&search%5Bage_class%5D=%25"
url_mujeres = "https://results.chicagomarathon.com/2024/?page=1&event=MAR&event_main_group=runner&num_results=1000&pid=list&search%5Bsex%5D=W&search%5Bage_class%5D=%25"

# Ejecutar prueba
df_hombres = scrape_chicago_test("M", url_hombres)
df_mujeres = scrape_chicago_test("W", url_mujeres)

# Concatenar resultados
df_chicago = pd.concat([df_hombres, df_mujeres], ignore_index=True)

print("\n‚úÖ Prueba completada. Archivo: 'prueba_chicago_10_M_10_W.csv'")

üîç Scrapeando 10 atletas ‚Äì G√©nero: M

üîç Scrapeando 10 atletas ‚Äì G√©nero: W

‚úÖ Prueba completada. Archivo: 'prueba_chicago_10_M_10_W.csv'

In [34]:
df_chicago

,place_overall,place_gender,nombre,pais,division,finish,gender
0,Place Overall,Place Gender,Sin nombre,Sin pa√≠s,,Sin tiempo,M
1,1,1,"Korir, John",KEN,25-29,02:02:44,M
2,2,2,"Esa, Huseydin Mohamed",ETH,20-24,02:04:39,M
3,3,3,"Kipruto, Amos",KEN,30-34,02:04:50,M
4,4,4,"Ngetich, Vincent",KEN,25-29,02:05:16,M
5,5,5,"Ebenyo, Daniel",KEN,25-29,02:06:04,M
6,6,6,"Hosoya, Kyohei",JPN,25-29,02:07:20,M
7,7,7,"Albertson, Cj",USA,30-34,02:08:17,M
8,8,8,"Sadakata, Toshiki",JPN,30-34,02:08:22,M
9,9,9,"Masai, Alex",KEN,25-29,02:08:51,M
10,Place Overall,Place Gender,Sin nombre,Sin pa√≠s,,Sin tiempo,W
11,11,1,"Chepngetich, Ruth",KEN,30-34,02:09:56,W
12,29,2,"Asefa Kebede, Sutume",ETH,25-29,02:17:32,W
13,34,3,"Cheptai, Irine",KEN,30-34,02:17:51,W
14,38,4,"Diriba Kejela, Buze",ETH,30-34,02:20:22,W
15,41,5,"Jepkosgei, Joyciline",KEN,30-34,02:20:51,W
16,42,6,"Azimeraw, Degitu",ETH,25-29,02:20:52,W
17,47,7,"Sullivan, Susanna",USA,30-34,02:21:56,W
18,54,8,"Bekere Dido, Ashete",ETH,35-39,02:23:10,W
19,57,9,"Flanagan, Lindsay",USA,30-34,02:23:31,W

In [35]:
df_chicago.to_csv("../data/ejemplo_10_resultados_chicago_marathon_2024.csv", index=False)

### SCRAPEO FINAL

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import re
from tqdm import tqdm

def scrape_chicago_completo(genero, url_base, paginas, archivo_salida):
    options = webdriver.ChromeOptions()
    driver = webdriver.Chrome(options=options)

    resultados = []

    for pagina in tqdm(range(1, paginas + 1), desc=f"G√©nero {genero}", ncols=100):
        url = f"{url_base}&page={pagina}"
        driver.get(url)
        time.sleep(4)

        atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")

        for atleta in atletas:
            try:
                place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary").text
            except:
                place_overall = "Sin posici√≥n general"

            try:
                place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary").text
            except:
                place_gender = "Sin posici√≥n g√©nero"

            try:
                nombre_pais = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-fullname a").text
                nombre = re.sub(r"\s*\([A-Z]{3}\)", "", nombre_pais).strip()
                pais_match = re.search(r"\(([A-Z]{3})\)", nombre_pais)
                pais = pais_match.group(1) if pais_match else "Sin pa√≠s"
            except:
                nombre = "Sin nombre"
                pais = "Sin pa√≠s"

            try:
                division_block = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-age_class").text
                division = division_block.replace("Division", "").strip()
            except:
                division = "Sin divisi√≥n"

            try:
                finish_block = atleta.find_element(By.XPATH, ".//div[contains(@class, 'type-time') and .//div[text()='Finish']]")
                html = finish_block.get_attribute("innerHTML")
                match = re.search(r'</div>\s*([0-9:]+)', html)
                finish = match.group(1).strip() if match else "Sin tiempo"
            except:
                finish = "Sin tiempo"

            resultados.append({
                "page": pagina,
                "place_overall": place_overall,
                "place_gender": place_gender,
                "nombre": nombre,
                "pais": pais,
                "division": division,
                "finish": finish,
                "gender": genero
            })

        # Guardar cada 5 p√°ginas
        if pagina % 5 == 0 or pagina == paginas:
            df_parcial = pd.DataFrame(resultados)
            df_parcial.to_csv(archivo_salida, index=False)

    driver.quit()
    return pd.DataFrame(resultados)

# URLs base
url_hombres = "https://results.chicagomarathon.com/2024/?event=MAR&event_main_group=runner&num_results=1000&pid=list&search%5Bsex%5D=M&search%5Bage_class%5D=%25"
url_mujeres = "https://results.chicagomarathon.com/2024/?event=MAR&event_main_group=runner&num_results=1000&pid=list&search%5Bsex%5D=W&search%5Bage_class%5D=%25"

# Ejecutar scraping con progreso y backups
df_hombres = scrape_chicago_completo("M", url_hombres, paginas=28, archivo_salida="resultados_chicago_M_parcial.csv")
df_mujeres = scrape_chicago_completo("W", url_mujeres, paginas=24, archivo_salida="resultados_chicago_W_parcial.csv")

# Concatenar y guardar final
df_total_chicago = pd.concat([df_hombres, df_mujeres], ignore_index=True)

print("\n‚úÖ ¬°Scrapeo COMPLETO de Chicago finalizado! Archivo final: 'resultados_chicago_2024_completo.csv'")

G√©nero M: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 28/28 [13:03<00:00, 27.99s/it]
G√©nero W: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 24/24 [11:11<00:00, 27.98s/it]

NameError: name 'df_total' is not defined

In [39]:
df_total_chicago.to_csv("../data/resultados_chicago_2024_completo.csv", index=False)

In [40]:
df_total_chicago

,page,place_overall,place_gender,nombre,pais,division,finish,gender
0,1,,Place Gender,Sin nombre,Sin pa√≠s,,Sin tiempo,M
1,1,,1,"Korir, John",KEN,25-29,02:02:44,M
2,1,,2,"Esa, Huseydin Mohamed",ETH,20-24,02:04:39,M
3,1,,3,"Kipruto, Amos",KEN,30-34,02:04:50,M
4,1,,4,"Ngetich, Vincent",KEN,25-29,02:05:16,M
...,...,...,...,...,...,...,...,...
51911,24,52082,23869,"Ascencio, Alicia",USA,50-54,09:05:31,W
51912,24,52083,23870,"Williams, Keneeshia",USA,40-44,09:07:52,W
51913,24,52084,23871,"Villarruel, Natali",USA,35-39,09:08:42,W
51914,24,52086,23872,"Wilkinson, Melissa",USA,25-29,09:13:39,W
51915,24,52088,23873,"Young, Jeanette",USA,40-44,10:00:15,W