In [3]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd
import time

In [4]:
# Opciones de Chrome para hacer webscraping
options = webdriver.ChromeOptions()
options.add_argument('window-size=1920x1080')   # Ejecutar en segundo plano
options.add_argument('--incognito') # Modo incógnito

In [45]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd

options = webdriver.ChromeOptions()
driver = webdriver.Chrome(options=options)

resultados = []

for pagina in range(1, 31):  # 30 páginas
    print(f"Scrapeando página {pagina}...")
    url = f"https://results.baa.org/2024/?event_main_group=runner&num_results=1000&pid=search&page={pagina}&search%5Bage_class%5D=%25&search%5Bnation%5D=%25&search_sort=time_finish_netto&event=R"
    driver.get(url)
    time.sleep(4)  # Dale tiempo a que cargue

    atletas = driver.find_elements(By.CSS_SELECTOR, "li.list-group-item.row")

    for atleta in atletas:
        try:
            place_overall = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-secondary.hidden-xs.numeric").text
        except:
            place_overall = "Sin posición general"

        try:
            place_gender = atleta.find_element(By.CSS_SELECTOR, ".list-field.type-place.place-primary.numeric").text
        except:
            place_gender = "Sin posición género"

        try:
            nombre = atleta.find_element(By.CLASS_NAME, "list-field.type-fullname").text
        except:
            nombre = "Sin nombre"

        try:
            finish_net_label = atleta.find_element(By.XPATH, ".//div[.='Finish Net']")
            tiempo_neto = finish_net_label.find_element(By.XPATH, "../following-sibling::div").text.strip()
        except:
            tiempo_neto = "Sin tiempo neto"

        resultados.append({
            "place_overall": place_overall,
            "place_gender": place_gender,
            "nombre": nombre,
            "tiempo_neto": tiempo_neto
        })

driver.quit()

Scrapeando página 1...
Scrapeando página 2...
Scrapeando página 3...
Scrapeando página 4...
Scrapeando página 5...
Scrapeando página 6...
Scrapeando página 7...
Scrapeando página 8...
Scrapeando página 9...
Scrapeando página 10...
Scrapeando página 11...
Scrapeando página 12...
Scrapeando página 13...
Scrapeando página 14...
Scrapeando página 15...
Scrapeando página 16...
Scrapeando página 17...
Scrapeando página 18...
Scrapeando página 19...
Scrapeando página 20...
Scrapeando página 21...
Scrapeando página 22...
Scrapeando página 23...
Scrapeando página 24...
Scrapeando página 25...
Scrapeando página 26...
Scrapeando página 27...
Scrapeando página 28...
Scrapeando página 29...
Scrapeando página 30...

In [46]:
resultados_df = pd.DataFrame(resultados)
resultados_df

,place_overall,place_gender,nombre,tiempo_neto
0,Sin posición general,Sin posición género,Name,Finish Gun
1,1,1,"Lemma, Sisay",02:06:17
2,2,2,"Esa, Mohamed",02:06:58
3,3,3,"Chebet, Evans",02:07:22
4,4,4,"Korir, John",02:07:40
...,...,...,...,...
29355,Sin posición general,Sin posición género,"Williams, Lawrence",Finish Gun\n–
29356,Sin posición general,Sin posición género,"Mc Donnell, Anne Marie",Finish Gun\n–
29357,Sin posición general,Sin posición género,"Hoopingarner, Laura",Finish Gun\n–
29358,Sin posición general,Sin posición género,"Booth, Kathlyn",Finish Gun\n–
29359,Sin posición general,Sin posición género,"Cochrane, Jacqueline",Finish Gun\n–

In [48]:
# Guardar en CSV
resultados_df.to_csv("resultados_boston.csv", index=False)

In [49]:
resultados_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29360 entries, 0 to 29359
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   place_overall  29360 non-null  object
 1   place_gender   29360 non-null  object
 2   nombre         29360 non-null  object
 3   tiempo_neto    29360 non-null  object
dtypes: object(4)
memory usage: 917.6+ KB